<div class="container">
  <header class="header" role="banner">


    <div class="header-logo">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    {% assign current = page.url | downcase | split: '/' %}




    <div class="header-menu">
      <nav class="nav">
        <ul>
          <li><a href="{{site.baseurl}}/about" {% if current[1]=='about' %}class='active' {% endif %}>ABOUT</a></li>
          <li><a href="{{site.baseurl}}/reflections" {% if current[1]=='reflections' %}class='active' {% endif %}>REFLECTIONS</a></li>
          <li><a href="{{site.baseurl}}/term2" {% if current[1]=='term2' %}class='active' {% endif %}>TERM 2/3 </a></li>
          <li><a href="{{site.baseurl}}/fabacademy" {% if current[1]=='fabacademy' %}class='active' {% endif %}>FAB ACADEMY</a></li>
          <li><a href="{{site.baseurl}}/alterme" {% if current[1]=='alterme' %}class='active' {% endif %}>PROJECT</a></li>

        </ul>
      </nav>

    </div>
  </header>
</div>
