---
layout: default
---

<div class="container-small">

  <h1 class="text-center">EXPLORING THE UNKNOWN</h1>

  <div class="content">
    {{ content }}
  </div>


 {% assign alterme = site.alterme | where: "published", true | sort: "date", "last" %} 


  <div class="post-list">
    {% for alterme in site.alterme %}
    <article>
      <h3 class="post-title"><a href="{{ alterme.url | relative_url }}">{{ alterme.title }}</a></h3>
      <div class="post-period">{{ alterme.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
