---
layout: default
---

<div class="container container-full-height">

  <h1 class="text-center">Fab Academy</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign fabacademy = site.fabacademy | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for fabacademy in site.fabacademy %}
    <article>
      <h3 class="post-title"><a href="{{ fabacademy.url | relative_url }}">{{ fabacademy.title }}</a></h3>
      <div class="post-period">{{ fabacademy.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
