---
layout: default
---

<div class="container container-full-height">

  <h1 class="text-center">TERM 2</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign fabacademy = site.term2 | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for term2 in site.term2 %}
    <article>
      <h3 class="post-title"><a href="{{ term2.url | relative_url }}">{{ term2.title }}</a></h3>
      <div class="post-period">{{ term2.period }}</div>
    </article>
    {% endfor %}
  </div>
